<a href="https://colab.research.google.com/github/mau-lozada/ProyFinal-CodFac/blob/main/ProyFin_CodFac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primero traeremos nuestras bases de datos. En este caso fueron 3 recuperadas de fuentes como INEGI y la ENOE.
Para esto activaremos nuestras librerias para poder leer archivos CSV, en este caso la librería de Pandas nos ayudará en esta parte.

De acuerdo a la INEGI "PEA" significa Población Economicamente Activa y "PD" es Población Desocupada.

In [2]:
#Llamamos a Pandas para poder leer los archivos CSV, y le pondremos de nombre pd, como convencionalmente se usa en la comunidad.

import pandas as pd 
import numpy as np

desocupacion = pd.read_csv('desocupacion.csv')
desocupacion

                  Entidad federativa   Año  Trimestre       PEA       PD
0                           Nacional  2010          4  48478718  2566784
1                     Aguascalientes  2010          4    491955    34078
2                    Baja California  2010          4   1411439    75862
3                Baja California Sur  2010          4    308752    17802
4                           Campeche  2010          4    372630     9963
..                               ...   ...        ...       ...      ...
292                       Tamaulipas  2018          4   1697868    65144
293                         Tlaxcala  2018          4    603336    24269
294  Veracruz de Ignacio de la Llave  2018          4   3330020    91111
295                          Yucat�n  2018          4   1100165    16052
296                        Zacatecas  2018          4    661187    16194

[297 rows x 5 columns]

Comenzamos con la visualización efectiva de los datos.
La cuál en este caso sólo nos interesa saber la Tasa de desempleo y ver el Año y la Entidad federativa.

In [ ]:
desocupacion ['tasa'] = (desocupacion['PD'] / desocupacion['PEA'] * 100).round(2) #se crea una nueva columna y se redondea a dos decimales el resultado.
#desocupacion.round(2)
desocupacion [['Entidad federativa', 'Año', 'tasa']]

                  Entidad federativa   Año  tasa
0                           Nacional  2010  5.29
1                     Aguascalientes  2010  6.93
2                    Baja California  2010  5.37
3                Baja California Sur  2010  5.77
4                           Campeche  2010  2.67
..                               ...   ...   ...
292                       Tamaulipas  2018  3.84
293                         Tlaxcala  2018  4.02
294  Veracruz de Ignacio de la Llave  2018  2.74
295                          Yucat�n  2018  1.46
296                        Zacatecas  2018  2.45

[297 rows x 3 columns]

Sacamos los datos de la tabla después del 2018.

In [ ]:
desocupacion [ desocupacion['Año'] > 2018 ] [['Entidad federativa', 'Año', 'tasa']]

Empty DataFrame
Columns: [Entidad federativa, Año, tasa]
Index: []

Sale vacía la tabla, porque el proceso de obtención de datos fue incorrecta, por lo que procedí a buscar nueva información y que tuviera datos a partir del 2018 o 2019 para poder hacer el análisis.

In [ ]:
desocupacion2 = pd.read_csv('indicadores.csv')
desocupacion2

     año  periodo  tasa
0   2015        1   4.4
1   2015        2   4.4
2   2015        3   4.3
3   2015        4   4.3
4   2015        5   4.4
..   ...      ...   ...
90  2022        7   3.2
91  2022        8   3.3
92  2022        9   3.1
93  2022       10   3.2
94  2022       11   3.0

[95 rows x 3 columns]

Ya con el nuevo Dataframe podemos analizar con información más actual. Aunque ya no tenemos los datos de las entidades federativas, porque no se encontró un mejor dataset. Y buscamos las tasas después del 2018.

In [ ]:
desocupacion2 [ desocupacion2['año'] > 2018 ] [['año', 'tasa']]

     año  tasa
48  2019   3.5
49  2019   3.4
50  2019   3.6
51  2019   3.5
52  2019   3.6
53  2019   3.5
54  2019   3.5
55  2019   3.5
56  2019   3.5
57  2019   3.6
58  2019   3.5
59  2019   3.1
60  2020   3.7
61  2020   3.6
62  2020   3.3
63  2020   4.7
64  2020   4.3
65  2020   5.5
66  2020   5.0
67  2020   4.9
68  2020   4.8
69  2020   4.6
70  2020   4.5
71  2020   4.1
72  2021   4.5
73  2021   4.4
74  2021   4.4
75  2021   4.7
76  2021   4.1
77  2021   4.0
78  2021   4.1
79  2021   4.0
80  2021   3.9
81  2021   3.8
82  2021   3.9
83  2021   3.8
84  2022   3.6
85  2022   3.7
86  2022   3.4
87  2022   3.1
88  2022   3.4
89  2022   3.3
90  2022   3.2
91  2022   3.3
92  2022   3.1
93  2022   3.2
94  2022   3.0

Sacamos cuál es el promedio de la tasa de desempleo en total después del 2018

In [ ]:
desocupacion2.groupby('tasa')['periodo'].mean().sort_values(ascending= True).head(1)

tasa
3.7    1.5
Name: periodo, dtype: float64

Ahora extraemos el data frame de Ocupación Informal. La Ocupación Informal son aquellos negocios remunerado o autoempleos que no están registrados, regulados o protegidos por marcos legales o normativos. Los trabajadores informales no cuentan con contratos de empleo, seguros, prestaciones laborales, protección social o representación de los trabajadores.

In [ ]:
informal = pd.read_csv('O_informal.csv')

informal.round(2)

     año  periodo  Hombres  Mujeres
0   2019        1     26.8     29.1
1   2019        2     26.8     29.2
2   2019        3     26.8     29.3
3   2019        4     26.5     28.8
4   2020        1     26.6     28.8
5   2020        2     24.0     21.3
6   2020        3     26.6     27.6
7   2020        4     27.0     29.0
8   2021        1     27.6     28.6
9   2021        2     27.9     29.4
10  2021        3     28.2     29.7
11  2021        4     28.2     29.8
12  2022        1     27.8     29.0
13  2022        2     28.1     29.3
14  2022        3     27.8     29.1

Agregamos una columna, sacando el promedio en total por cada Periodo, de cada trimestre.

In [ ]:
informal['promedio'] = (informal['Hombres'] + informal['Mujeres']) / 2 #Creamos una nueva columna sacando el promedio.
informal.round(2) #redondeamos los decimales resultantes a sólo dos decimales.

     año  periodo  Hombres  Mujeres  promedio
0   2019        1     26.8     29.1     27.95
1   2019        2     26.8     29.2     28.00
2   2019        3     26.8     29.3     28.05
3   2019        4     26.5     28.8     27.65
4   2020        1     26.6     28.8     27.70
5   2020        2     24.0     21.3     22.65
6   2020        3     26.6     27.6     27.10
7   2020        4     27.0     29.0     28.00
8   2021        1     27.6     28.6     28.10
9   2021        2     27.9     29.4     28.65
10  2021        3     28.2     29.7     28.95
11  2021        4     28.2     29.8     29.00
12  2022        1     27.8     29.0     28.40
13  2022        2     28.1     29.3     28.70
14  2022        3     27.8     29.1     28.45

Una vez teniendo toda esta información procedemos a visualizar los datos de una forma más dinamica con ayuda de Altair.

In [ ]:
import altair as alt #Importamos la librería de altair y le asignamos el nombre de "alt"
desocupacion2.head() #Llamamos los primeros datos del dataframe.

    año  periodo  tasa
0  2015        1   4.4
1  2015        2   4.4
2  2015        3   4.3
3  2015        4   4.3
4  2015        5   4.4

Sacamos la gráfica de la tasa del desempleo

In [ ]:
#slider = alt.binding_range(min=2015, max=2022, step=1) #Slider para poder desplazar el gráfico por año
#select_year = alt.selection_single(name='año', fields=['año'],
#                                     bind=slider, init={'año': 2015}) 
 
base = alt.Chart(desocupacion2).encode( # definimos 'base' para no repetir cada vez 'alt.Chart(data)'
    color = alt.Color("tasa", type = "nominal"),
    )#.add_selection(select_year).transform_filter(select_year)

left = base.mark_bar(width= 60).encode( #definimos la variable como "left", para usarla más tarde
    x='año',
    y="tasa",
    # The highlight will be set on the result of a conditional statement
    color=alt.condition(
        alt.datum.año == 2020,  # Si el año es 2020 lo retorna como True,
        alt.value('#fdc086'),   # Que returna la barra de color naranja.
        alt.value('#beaed4')    # y si no es True, retorna un valor purpura.
    )
).properties(width=600)

Sacamos la gráfica de los empleos informales

In [ ]:
base2 = alt.Chart(informal).encode() 
    
right = base2.mark_line().encode(   #Este comando es para un grafico de lineas y definimos la variable como "right", para usarla más tarde
    x=alt.X("año"),                 #Definimos que en el eje X será año
    y=alt.Y(
        alt.repeat("layer"), aggregate="mean", title="" #definimos que en el eje Y se calcule el promedio
    ),
    color=alt.datum(alt.repeat("layer")), #Esta parte se tomo de la documentación de Vega-Lite.
).properties(width=800).repeat(
    layer=["Hombres", "Mujeres"])

In [ ]:
final = alt.hconcat(left, right).resolve_scale(x = 'independent') #resolve_scale recibe valores como shared o independent para poder concatenar dos gráficos y las etiquetas del gráfico.
final

c:\Users\vecin\anaconda3\envs\proyfinal\lib\site-packages\altair\utils\core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.HConcatChart(...)

En este punto podemos observar que en el año 2020 a causa de la pandemia hubo un incremento en el desempleo a comparación que los 5 años antriores, pero paralelamente, para el año 2021 el empleo informal creció y se mantuvo en el siguiente año. Podemos afirmar que cuando varias personas quedaron desempleadas, decidieron poner un negocio por su cuenta y obtener ingresos independientemente.